* {
  margin: 0%;
}
.option {
  background-color: #88a5db;
  padding: 2rem;
  font-style: italic;
  font-size: large;
}
.question {
  margin: 2rem;
  background-color: dodgerblue;
  padding: 2rem;
  font-size: larger;
  font-weight: bold;
}
.options {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  cursor: pointer;
}
.answered {
    background-color: brown;
}
.nextButton {
    border: none;
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 0.4rem;
    size: 2rem;
    margin: 2rem;
}
.result {
    padding-top: 3rem;
    text-align: center;
    padding: 2rem;
    background-color: coral;
    color: aliceblue;
    border-radius: 2rem;
}