* {
  margin: 0%;
}
.option {
  background-color: #88a5db;
  padding: 2rem;
  font-style: italic;
  font-size: large;
}
.question {
  margin: 2rem;
  background-color: dodgerblue;
  padding: 2rem;
  font-size: larger;
  font-weight: bold;
}
.options {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  cursor: pointer;
}
.correctAns {
    background-color: chartreuse;
}
.wrongAns {
    background-color: brown;
}
